*node_modules
*secrets.y*ml
*kubeconfig
.vscode
.idea
/artifacts
/*.go
sandbox*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
./orbctl

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/local
